<Loggers>
    <!-- Disable Apache HttpClient Logs -->
    <Logger name="org.apache.hc" level="WARN" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <!-- Disable Wire logs for HttpClient -->
    <Logger name="org.apache.http.wire" level="WARN" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="org.apache.hc.client5.http.wire" level="WARN" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <!-- Disable logging for the HttpClient connection execution -->
    <Logger name="org.apache.hc.client5.http.impl.classic.MainClientExec" level="WARN" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="org.apache.hc.client5.http.impl.io" level="DEBUG" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <!-- Root logger settings -->
    <Root level="INFO">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
