<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI API Tests">
    <listeners>
        <listener class-name="listeners.RetryAnnotationTransformer"/>
    </listeners>
    <test name="Configure Platform">
        <classes>
            <class name="config.TestCore"/>
        </classes>
    </test>
    <test name="UI Tests">
        <classes>
            <class name="validations.GitHubRepoListTests"/>
        </classes>
    </test>
</suite>