@font-face {
  font-family: 'BauhausBold';
  src: url('../public/fonts/BauhausBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-size: large;
}

.bauhaus-font {
  font-family: 'BauHausBold', Arial, sans-serif;
}